/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.profile {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

img {
    max-width: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 5px;
}

p {
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffc107;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn-edit {
    background-color: #2196f3;
    margin-left: 10px;
}

.btn:hover {
    background-color: #ff9800;
}

.btn-edit:hover {
    background-color: #1976d2;
}
body{
    padding: auto;
    display: block;
    margin: auto;
    background-color: white;
   }
.headtwo{
    display: flex;
    align-items: center;

}
.pom{
    margin: 60px;
}
   header {
     width: 100%;
     height: 80px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: auto;
     background-color: #000000;
     color: #fff;
     text-decoration: solid;
     text-size-adjust: 25;
   }

   header h1{
     font-size: large;
     font-family: monospace;
   }


   main {
     margin-top: 20px;

     padding: 20px;
   }


   nav ul {
     list-style: none;
     margin: 0;
     padding: 0;
     display: flex;
   }

   nav ul li {
     margin-right: 40px;
   }

   nav ul li a {
     color: #fff;
     text-decoration: none;
   }

   header nav ul li a:hover {
     background-color: white;
   }



   .products {
     width: 80%;
     margin-top: 50px;
   }

   .products ul {
     list-style: none;
     margin: 0;
     padding: 0;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
   }

   .products li {
     width: 30%;
     margin-bottom: 30px;
     background-color: #f9f9f9;
     padding: 20px;
     text-align: center;
   }
   .admin-container {
     width: 80%;
     margin: 20px auto 10px;
     overflow: hidden;
   }

   .admin-img {
     width: 20%;
     float: left;
   }

   .admin-details {
     display: flex;
     flex-direction: column;
     margin-left: 5%;
   }

   .admin-name {
     font-size: 24px;
     font-weight: bold;
   }

   .admin-email {
     font-size: 18px;
     margin-top: 10px;
   }

   .fa-user-shield:before {
     content: "\f505";
   }



   table {
    width: 80%;
    margin: 15px auto;
    border-collapse: collapse;
    border: (1px solid #515253);
    border-radius: 10px;
   }

   th, td {
   padding: 12px;
   text-align: center;
   border: 1px solid #23a6d5;
   }

   th {
   background-color: #000000;
   color: white;
   }

   tr:nth-child(even) {
   background-color: #f9f9f9;
   }

   tr:hover {
   background-color: #e6f2ff;
   }

   .topnav{
    height: 60px;
 }
.topnav div{
    display: flex;
    color: white;
    margin:9px;
    float: right;
}
.side img{
    margin-right: 10px;
}
.side h5{
    display: inline;
    margin: auto;
}
.rounded-circle{
    width: 50px;
}
   .send-button,.change-button{
     font-size: 10px;
     padding: 10px 20px;
     margin-left: 10px;
     border-color:#fff;
     border-radius: 10%;
   }

   .send-button {

     background-color: rgb(33, 33, 229);
     color: white;

   }

   .change-button {

     background-color: rgb(70, 236, 70);
     color: white;
   }
   .button:hover {
        background-color: #0069d9;
   }

