*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    font-family: 'poppins';
    color: #fff;
    background: black;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

  a{
    text-decoration: none;
  }

  #container{
    margin: 30px auto;
    max-width: 430px;
    padding: 20px;
  }

  .form-wrap{
    background-color: #fff;
    padding: 15px 25px;
    color: #333;
    border-top: 4px solid #49c1a2;
    border-radius: 5px;
  }

  .form-wrap h1{
   text-align: center;
  }
  .form-wrap p{
    text-align: center;
    color: #49c1a2 ;
  }

  .form-wrap .form-group{
    margin-top: 15px;
  }

  .form-wrap .form-group label{
    display: block;
    color: #666;
  }

  .form-wrap .form-group input{
    width: 100%;
    padding: 10px;
    border: #ddd 1px solid;
    border-radius: 5px;
    border-bottom: 0.2rem solid #000000
  }

  .form-wrap button{

    text-align: center;
    width: 30%;
    padding: 10px;
    margin-top: 20px;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
    border: 1px solid #49c1a2;
    border-radius: 18px;
    font-family: 'poppins';
    font-size: 15px;
    transition: 1s;
  }



  .form-wrap button:hover{
    background-color: #37a08e;
    transition: 1s;
  }

  .form-wrap .bottom-text{
    font-size: 13px;
    margin-top: 20px;
  }
  select, input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
  }
  footer {
    text-align: center;
    margin-top: 10px;
    color: #333;
  }

  footer a {
    color:#49c1a2
  }
